<div class="sc-content">
  <div class="sc-fir-line">
    <div class="sc-fir-title">
      <!-- 智慧农业物联网系统 -->XXXXXXXXX
    </div>
    <div class="sc-fir-btn">
      <el-button type="info" [plain]="true" [round]="true" icon="star-off" style="padding: 0;height: 36px; width: 36px;"></el-button>
      <el-button type="info" [plain]="true" [round]="true" icon="setting" style="padding: 0;height: 36px; width: 36px;"></el-button>
      <el-button type="info" [plain]="true" [round]="true" icon="message" style="padding: 0;height: 36px; width: 36px;"></el-button>
    </div>
  </div>
  <div class="sc-2nd-line">
    <div class="sc-2nd-col1">
      <div class="header-slide">
        <span class="span-left on">项目总浏</span>
      </div>
    </div>
    <div class="sc-2nd-col2">
      <div class="header-slide">
        <span class="span-left on">项目总1浏</span>
      </div>
    </div>
    <div class="sc-2nd-col3">

    </div>
    <div class="sc-2nd-col1">

    </div>
  </div>
</div>
